[defaults]
inventory = inventory.ini
stdout_callback = default
host_key_checking = False
retry_files_enabled = False
home = ./.ansible
local_tmp = ./.ansible/tmp
remote_tmp = /tmp/.ansible-${USER}/tmp
